<!DOCTYPE html>
<html lang="en">
<head>
	<title>WEB34@ORTDNIPRO</title>
	<meta charset="UTF-8">
	<meta name="description" content="WEB34@ORTDNIPRO">
	<meta name="keywords" content="Учебные материалы для группы WEB34 образовательного центра ORT DNIPRO">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="./assets/img/favicon.png" rel="shortcut icon"/>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="./assets/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="./assets/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="./assets/css/flaticon.css"/>
	<link rel="stylesheet" href="./assets/css/owl.carousel.css"/>
	<link rel="stylesheet" href="./assets/css/magnific-popup.css"/>
	<link rel="stylesheet" href="./assets/css/style.css"/>
	<link rel="stylesheet" href="./assets/css/custom.css"/>


	<meta property="og:site_name" content="ORT DNIPRO | Международный образовательный центр"/>
	<meta property="og:title" content="WEB34@ORTDNIPRO" />
	<meta property="og:description" content="Учебные материалы для группы WEB34 образовательного центра ORT DNIPRO" />
	<meta property="og:url" content="https://web34.ortdnipro.org/" />
	<meta property="og:image" content="https://web34.ortdnipro.org/assets/img/logo-glow.png" />
	<meta name="twitter:card" content="summary_large_image"/>

</head>
<body id='app-container'>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section start -->
	<header class="header-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div class="site-logo">
						<h2>{{groupFullTitle}}</h2>
						<p>Курс 
							<a target='_blank' href='https://ort.dp.ua/web/'>
							Начало веб-разработки и программирования</a>
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Social links section start -->
	<div class="social-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="social-link-warp">
						<div class="social-links">
							<a target='_blank' class='mx-5' href="https://t.me/joinchat/GWql0lJPXVDzODuxML61VQ">
								<i class="scale-icon fa fa-telegram"></i>
							</a>
							<a target='_blank' class='mx-5' href="https://github.com/web34-ortdnipro">
								<i class="scale-icon scale-icon-more fa fa-github"></i>
							</a>
						</div>
						<h2 class="hidden-md hidden-sm">Telegram / GitHub</h2>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<!-- Social links section end -->

	<!-- Lessons section start -->
	<section class="resume-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-8 offset-xl-2">
					<div class="section-title">
						<h2 class='mb-5'>{{groupTitle}} Lessons List:</h2>
						<div class='d-flex align-items-center search-block my-4'>
							<i class="fa fa-search fa-2x text-muted"></i>
							&nbsp;
							<input placeholder="Search..." v-model='searchText' id='search-text'>
							
						</div>
						<h3 class='founded-stat text-muted my-4'>&nbsp;
							<span v-if='searchText.trim().length'>Найдено {{searchResult.length}} из {{repositoriesList.length}}</span>
						</h3>
					</div>
					<ul class="resume-list">
						<li v-for='item in searchResult'>
							<h2>
								<a title="Open On GitHub" target='_blank' :href='item.url' style='color:black'>
									{{item.title}}
								</a> 
								<span class='total-quantity-label'> / {{totalLessonQuantity}}</span>
							</h2>
							<p>{{item.description}}</p>
							<div class='linkbox my-3'>
								<a target='_blank' :href='item.pdfLink' style='color:black'>
									<i title="Download PDF From GitHub" class="fa fa-file-pdf-o fa-3x"></i>
								</a>
							
								<a target='_blank' v-if='showPPTX' :href='item.pptxLink' style='color:black'>
									<i title="Download PPTX From GitHub" class="fa fa-file-powerpoint-o fa-3x"></i>
								</a>
							</div>
							
							
						</li>
						<li v-if='isNothingFound' class='mb-5'>
							<h3 class='mb-5 text-muted' class=''>Ничего не найдено...</h3>
							<p>Попробуйте другой поисковый запрос...</p>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Lessons section end -->
	<!-- Lessons section end -->

	<!-- Footer section start -->
	<footer class="footer-section">
		<div class="container text-center">
			<div class="copyright">
				<a target="_blank" href='https://ort.dp.ua/web/'>
					<u>ORT DNIPRO</u>
				</a> 
				<span @click='showPPTX = !showPPTX'>
					&copy;
				</span> 
				2013-<span id='current-year'></div>
				
				<script>

					(function(){
						document.getElementById('current-year').innerHTML = new Date().getFullYear();
					})();

				</script>

		</div>
	</footer>
	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="./assets/js/jquery-2.1.4.min.js"></script>
	<script src="./assets/js/bootstrap.min.js"></script>
	<script src="./assets/js/owl.carousel.min.js"></script>
	<script src="./assets/js/magnific-popup.min.js"></script>
	<script src="./assets/js/circle-progress.min.js"></script>
	<script src="./assets/js/main.js"></script>
	<!--<script src="https://unpkg.com/vue@next"></script>-->
	<script src="./assets/js/vue.global.prod.js"></script>
	<script src="./assets/js/code.js"></script>
</body>
</html>